includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - archives-widget-extended.php
        - Core
        - Widgets
        - Blocks
    bootstrapFiles:
        - phpstan-bootstrap.php
