<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	failOnWarning="true"
	failOnRisky="true"
>
	<testsuites>
		<testsuite name="widgets">
			<directory>./tests/Widgets/</directory>
		</testsuite>
		<testsuite name="blocks">
			<directory>./tests/Blocks/</directory>
		</testsuite>
	</testsuites>
</phpunit>
